Source: ros-hydro-naoqi-bridge
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://www.ros.org/nao
Standards-Version: 3.9.2

Package: ros-hydro-naoqi-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-naoqi-driver, ros-hydro-naoqi-msgs, ros-hydro-naoqi-sensors
Description: Meta package to interface ROS with Aldebaran's NAOqi.
